@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgb(15 23 42);
  color: rgb(226 232 240);
}
